
//font-family: 'Playfair Display', serif;
//font-family: 'Roboto Condensed', sans-serif;
//font-family: 'Poppins', sans-serif;

@font-face {
  font-family: 'CamingoDos';
  src: url('../fonts/camingodos-black-webfont.woff2') format('woff2'),
  url('../fonts/camingodos-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'CamingoDos';
  src: url('../fonts/camingodos-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/camingodos-extrabold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


%font--regular {
  font-family: 'Open Sans', sans-serif, Helvetica, Arial;
  font-weight: normal;
}

%font--bold {
  font-family: 'CamingoDos', sans-serif, Helvetica, Arial;
  font-weight: 700;
  text-transform: uppercase;
}

%font--black {
  font-family: 'CamingoDos', sans-serif, Helvetica, Arial;
  font-weight: 900;
  text-transform: uppercase;
}
