/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
  @extend %font--regular;
  background: #FFF;
  color: $color-text-regular;
}

body {
}

::-moz-selection {
  background: $color-republicans;
  color: #FFF;
}
::selection {
  background: $color-republicans;
  color: #FFF;
}

a {
  color: $color-link;
  text-decoration: underline;
  transition: background .2s ease;
  cursor: pointer;
}

ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre  {
  margin-bottom: inuit-rem($inuit-global-spacing-unit);
}

button {
  @extend %font--bold;
  @include inuit-font-size(26px);
  background: $color-btn;
  color: #FFF;
  border: 0;
  padding: inuit-rem(27px) inuit-rem(20px);
  transition: all .2s ease;
  cursor: pointer;
  text-decoration: none;

  @media screen and (max-width: #{map-get($breakpoints, medium)}) {
    @include inuit-font-size(18px);
    padding: inuit-rem(15px);

  }

  &:hover {
    background-color: $color-btn-hover;
  }

  &[disabled] {
    background-color: $color-btn-disabled;
  }
}
