<div class="world-map">

  <div id="world-map-leaflet"></div>

  <div class="world-map__header">
    <h1 class="world-map__title">{{'worldmap.title' | translate}}<br />{{'worldmap.subtitle' | translate}}</h1>
    <p class="world-map__sub">
      {{'worldmap.totalvotes' | translate:{'votes': $ctrl.votingResults.total.D + $ctrl.votingResults.total.R} }}
    </p>

    <div class="world-map__pie pie">
      <svg viewBox="0 0 32 32">
        <circle r="16" cx="16" cy="16" style="stroke-dasharray: {{$ctrl.votingResults.D}} 100" />
      </svg>

      <div class="world-map__R">
        {{'shortname.trump' | translate}}<br />
        {{$ctrl.votingResults.R}}%
      </div>

      <div class="world-map__D">
        {{'shortname.hillary' | translate}}<br />
        {{$ctrl.votingResults.D}}%
      </div>

    </div>

  </div>
</div>
