.trump-hillary {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  height: 100%;

  .trump-hillary__trump,
  .trump-hillary__hillary {
    position: relative;
    flex: 1 1 auto;
    align-self: stretch;
    transition: all .2s ease;
    height: 100%;
    width: 50%;
    overflow: hidden;

    @media screen and (min-width: #{map-get($breakpoints, medium)}) {
      &.trump-hillary--winner {
        z-index: 910;
      }
    }
  }

  .trump-hillary__trump {
    order: 1;
    background-color: $color-republicans;
  }

  .trump-hillary__hillary {
    order: 0;
    background-color: $color-democrats;
  }
}

html[dir=rtl] {
  .trump-hillary__trump {
    order: 0;

  }
  .trump-hillary__hillary {
    order: 1;
  }
}
