.world-map {
  position: relative;
  background-color: $color-background-fallback;

  .world-map__R,
  .world-map__D {
    display: none;
  }

  .pie {
    position: absolute;
    top: 50%;
    margin-top: -100px;
  }

  .pie__trump {
    left: 0;
    //background-color: $color-republicans;
  }

  .pie__hillary {
    right: 0;
    //background-color: $color-democrats;
  }

  .world-map__header {
    background-color: #FFF;
    text-align: center;
    padding: inuit-rem(20px) 0;
  }

  .world-map__title {
    line-height: inuit-rem(40px);
    margin-bottom: inuit-rem(25px);

    @media screen and (max-width: #{map-get($breakpoints, medium)}) {
      line-height: inuit-rem(32px);
    }
  }

  .world-map__sub {
    @extend %font--bold;
    color: $color-democrats;
    font-size: inuit-rem($inuit-font-size-tiny);
    margin-bottom: inuit-rem(30px);
  }
}

#world-map-leaflet {
  height: inuit-rem(570px);
  overflow: hidden;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: #{map-get($breakpoints, medium)}) {
    height: inuit-rem(300px);
  }
}
