.trump-hillary-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  height: 100vh;

  @media screen and (min-width: #{map-get($breakpoints, medium)}) {
    position: relative;
  }

  .trump-hillary-container__trump,
  .trump-hillary-container__hillary {
    position: relative;
    flex: 1 1 auto;
    align-self: stretch;
    transition: all .2s ease;
    height: 100%;
    width: 50%;
    overflow: hidden;

    @media screen and (min-width: #{map-get($breakpoints, medium)}) {
      &.trump-hillary-container--winner {
        z-index: 990;
      }
    }
  }

  .trump-hillary-container__trump {
    order: 1;
  }

  .trump-hillary-container__hillary {
    order: 0;
  }
}

html[dir=rtl] {
  .trump-hillary-container__trump {
    order: 0;

  }
  .trump-hillary-container__hillary {
    order: 1;
  }
}
