.scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 1000;


  .scene__container {
    //position: absolute;
    //border: 1px solid black;

    //transform: scale();

    //@media screen and (max-width: #{map-get($breakpoints, medium)}) {
    //  transform: scale(.4) translate(-10%, -40%);
    //}
  }

  &.scene--trump {
    .scene__button {
      background-color: $color-democrats;
    }
  }

  .scene__button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 150%);
    opacity: 0;
    white-space: nowrap;
  }

  .scene--hillary__hillary,
  .scene--trump__trump {
    //display: none;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    transform-origin: center center;
  }

  .scene--hillary__hillary {
    z-index: 950;
    left: 50%;
    top: calc(1037px*1.55);
    background: url(../images/sprite_hillary.svg);
    width: 376px;
    height: 1037px;
    margin-left: -305px;
    transform: scale(4);
  }

  .scene--trump__trump {
    z-index: 950;
    left: 50%;
    top: calc(1197px*1.35);
    background-image: url(../images/sprite_trump.svg);
    width: 896px;
    height: 1197px;
    margin-left: -431px;
    transform: scale(4);
  }

  .scene--hillary__background,
  .scene--trump__background {
    position: absolute;
    z-index: 930;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);

    @media screen and (max-width: #{map-get($breakpoints, medium)}) {
      padding: 0 !important;
    }
  }

  .scene--hillary__background {
    right: 0;
    padding-left: 39%;
  }

  .scene--trump__background {
    left: 0;
    padding-right: 39%;
  }

  .scene--hillary__whitehouse,
  .scene--hillary__fighter--blue,
  .scene--hillary__fighter--white,
  .scene--hillary__fighter--red,
  .scene--hillary__trail--blue,
  .scene--hillary__trail--white,
  .scene--hillary__trail--red,
  .scene--hillary__tree,
  .scene--hillary__bush,
  .scene--hillary__blue-bg
  {
    //display: none;
  }

  .scene--hillary__flag {
    transform: translateY(-10%);
    //transform: rotate(13deg);
    transform-origin: center center;
  }


  .scene--trump__flag,
  .scene--trump__red-bg,
  .scene--trump__whitehouse,
  .scene--trump__eagle,
  .scene--trump__wall
  {
    //display: none;
  }

  .scene--trump__flag {
    transform: scale(2);
    //transform-origin: left top;
  }

}
