.page {
  &.page--index {
    margin-top: inuit-rem(80px);

    @media screen and (max-width: #{map-get($breakpoints, medium)}) {
      margin-top: inuit-rem(129px);
    }
  }

  &.page--results {
    margin-top: inuit-rem(80px);
    margin-bottom: inuit-rem(50px);

    @media screen and (min-width: #{map-get($breakpoints, medium)}) {
      background: 0 0 url(../images/page--results__bg.png) repeat-x;
    }

    .page__wrapper {
      max-width: $inuit-wrapper-width;
      margin: 0 auto;
      overflow: hidden;
    }
  }

  &.page--faq {
    margin-bottom: inuit-rem(50px);

    // Offset needed for fixed header
    margin-top: inuit-rem(80px);

    @media screen and (max-width: #{map-get($breakpoints, medium)}) {
      margin-top: inuit-rem(163px);
    }

    .page__wrapper {
      max-width: inuit-rem(840px);
      padding: 0 inuit-rem(20px);
      margin: 0 auto;
      overflow: hidden;
    }
  }
}
