.top-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: inuit-rem(80px);
  line-height: inuit-rem(80px);

  @media screen and (max-width: #{map-get($breakpoints, medium)}) {
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
  }

  .top-nav__title {
    display: inline-block;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;

    h1 {
      padding: 0 inuit-rem(25px);
      margin-bottom: 0;
      line-height: inuit-rem(80px);

      @media screen and (min-width: #{map-get($breakpoints, medium)}) {
        &.top-nav__title--wrapped {
          @include inuit-font-size($inuit-font-size-h1-smaller);
          line-height: inuit-rem(32px);
          margin-top: inuit-rem(38px);
          transform: translateY(-50%);
        }
      }

      @media screen and (max-width: #{map-get($breakpoints, medium)}) {
        padding-top: inuit-rem(10px);
        padding-bottom: inuit-rem(15px);
        line-height: inuit-rem(40px);
      }

      b {
        font-style: italic;
        font-weight: 900;
      }
    }
  }

  .top-nav__items {
    order: 1;
    flex: 0 1 auto;
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: inuit-rem(470px);
    height: inuit-rem(80px);
    margin: 0;

    @media screen and (max-width: #{map-get($breakpoints, medium)}) {
      font-size: inuit-rem(14px);
      height: inuit-rem(50px);
      line-height: inuit-rem(50px);
      min-width: 0;
      width: 100%;
    }
  }

  .top-nav__item {
    float: left;
    flex: 1 0 inuit-rem(40px);

    a {
      display: inline-block;
      @extend %font--bold;
      padding: 0;
      width: 100%;
      height: 100%;
      color: #FFF;
      text-decoration: none;
      text-align: center;
      vertical-align: top;
    }

    &.top-nav__item--results {
      background-color: $color-btn;
      flex-basis: inuit-rem(140px);

      @media screen and (max-width: #{map-get($breakpoints, medium)}) {
        flex-basis: auto;
      }

      .top-nav__world {
        animation-play-state: paused;
      }

      &:hover {
        background-color: $color-btn-hover;

        .top-nav__world {
          animation-play-state: running;
        }
      }
    }

    &.top-nav__item--days {
      @media screen and (max-width: #{map-get($breakpoints, small)}) {
        display: none;
      }

      .top-nav__countdown {
        @extend %font--bold;
        display: inline-block;
        background-color: $color-brand-primary-darker;
        line-height: 0;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      .top-nav__countdown__days {
        display: inline-block;
        font-size: inuit-rem(36px);
        line-height: inuit-rem(80px);
        width: 100%;
        margin-top: inuit-rem(-3px);

        @media screen and (max-width: #{map-get($breakpoints, medium)}) {
          font-size: inuit-rem(25px);
          line-height: inuit-rem(70px);
          margin-top: inuit-rem(-13px);
        }
      }

      .top-nav__countdown__left {
        display: inline-block;
        vertical-align: top;
        font-size: inuit-rem(10px);
        margin-top: inuit-rem(-18px);
      }
    }

    &.top-nav__item--faq {
      text-align: center;

      a {
        background-color: $color-background-darker;

        &:hover {
          background-color: $color-background;
        }
      }
    }

    &.top-nav__item--twitter,
    &.top-nav__item--facebook {
      flex-basis: inuit-rem(30px);
      border-left: inuit-rem(4px) solid $color-background-darker;

      a {
        width: 100%;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        transition: all .5s ease;
      }

      &:hover {
        a {
          transform: rotateY(360deg);
        }

        background-color: $color-background-darker;
      }
    }
  }

  .top-nav__world {
    display: inline-block;
    width: inuit-rem(50px);
    height: inuit-rem(50px);
    border: inuit-rem(4px) solid #FFF;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: inuit-rem(5px);
    background: url(../images/icon--world.svg) 0 0 repeat-x;
    background-size: inuit-rem(50px) inuit-rem(50px);
    animation: slide 2s linear infinite;

    @media screen and (max-width: #{map-get($breakpoints, medium)}) {
      width: inuit-rem(35px);
      height: inuit-rem(35px);
      border: inuit-rem(3px) solid #FFF;
      background-size: cover;
      animation: none;
    }
  }

  @-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: inuit-rem(-50px) 0; }
  }

  @-webkit-keyframes flip {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
  }
}
