.world-map {
  position: relative;
  top: inuit-rem(-20px);
  background-color: $color-background-fallback;
  direction: ltr;

  .world-map-leaflet {
    display: none;
  }

  .world-map__header {
    background-color: #FFF;
    text-align: center;
    padding: inuit-rem(20px) 0;
  }

  .world-map__title {
    line-height: inuit-rem(40px);
    margin-bottom: inuit-rem(25px);

    @media screen and (max-width: #{map-get($breakpoints, medium)}) {
      line-height: inuit-rem(32px);
    }
  }

  .world-map__sub {
    @extend %font--bold;
    color: $color-democrats;
    font-size: inuit-rem($inuit-font-size-tiny);
    margin-bottom: inuit-rem(30px);
  }

  .world-map__pie {
    position: relative;
    width: inuit-rem(190px);
    height: inuit-rem(190px);
  }

  .world-map__R,
  .world-map__D {
    @extend %font--bold;
    position: absolute;
    top: inuit-rem(66px);
    color: #FFF;
  }

  .world-map__R {
    left: inuit-rem(15px);
  }

  .world-map__D {
    right: inuit-rem(15px);
  }
}

#world-map-leaflet {
  height: inuit-rem(570px);
  overflow: hidden;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: #{map-get($breakpoints, medium)}) {
    height: inuit-rem(300px);
  }
}
