.country-results {
  @extend %font--bold;
  max-width: inuit-rem(850px);
  width: 100%;
  margin: inuit-rem(10px) auto;
  border-collapse: collapse;
  background-color: #FFF;

  @media screen and (max-width: #{map-get($breakpoints, medium)}) {
    font-size: inuit-rem($inuit-font-size-tiny);
    width: 96%;
    margin: inuit-rem(10px) inuit-rem(10px);
  }

  td {
    vertical-align: middle;
    border-bottom: inuit-rem(3px) solid $color-line;
    padding: 0;
  }

  .country-results__title {
    text-align: center;
  }

  thead {
    background-color: $color-line;

    td {
      padding: inuit-rem(28px) inuit-rem(20px) inuit-rem(22px) inuit-rem(20px);
    }

    .country-results__label-candidate {
      text-align: right;
      white-space: nowrap;
    }
  }

  .country-results--highlight {
    background-color: $color-highlight;
  }

  .country-results__flag {
    .flag-icon {
      width: inuit-rem(70px);
      height: inuit-rem(50px);
    }
  }

  .country-results__countryname {
    padding-left: inuit-rem(10px);

    &.country-results__countryname--D {
      color: $color-democrats;
    }
    &.country-results__countryname--R {
      color: $color-republicans;
    }
    &.country-results__countryname--U {
      color: $color-split;
    }
  }

  .country-results__score {
    text-align: right;
    white-space: nowrap;

    .country-results__winner {
      padding: inuit-rem(25px) 0;

      &.country-results__winner--D {
        border-right: inuit-rem(20px) solid $color-democrats;
        color: $color-democrats;
      }
      &.country-results__winner--R {
        border-right: inuit-rem(20px) solid $color-republicans;
        color: $color-republicans;
      }
      &.country-results__winner--U {
        border-right: inuit-rem(20px) solid $color-split;
        color: $color-split;
      }
    }

    .country-results__percentage {
      padding-right: inuit-rem(20px);
    }
  }
}
