.trump-hillary {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  height: 100vh;

  // Offset needed for fixed header
  padding-top: inuit-rem(80px);
  @media screen and (max-width: #{map-get($breakpoints, medium)}) {
    padding-top: inuit-rem(163px);
  }

  @media screen and (max-width: #{map-get($breakpoints, medium)}) {
    flex-direction: column;
  }

  .trump-hillary__trump,
  .trump-hillary__hillary {
    position: relative;
    flex: 1 1 auto;
    align-self: stretch;
    transition: all .2s ease;
    height: 100%;
    width: 50%;

    @media screen and (max-width: #{map-get($breakpoints, medium)}) {
      width: 100%;
      height: 50%;
    }

    .trump-hillary__hotspot {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 25% 12%;
      //border: 1px solid lime;
      //overflow: hidden;
      cursor: pointer;

      @media screen and (max-width: #{map-get($breakpoints, medium)}) {
        right: auto;
        bottom: auto;
        top: 20%;
        left: 20%;
        width: 60%;
        height: 60%;
        margin: 0;
      }
    }

    .trump-hillary__button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 150%);
      opacity: 0;
      white-space: nowrap;
    }

    &.trump-hillary--hover {
      width: 60%;

      .fili-test {
        animation: filiTest 1s steps(6, end) forwards, filiTest2 1s linear forwards;
      }

      @media screen and (max-width: #{map-get($breakpoints, medium)}) {
        width: 100%;
        height: 60%;
      }

      .trump-hillary__button {
        transform: translate(-50%, 0);
        opacity: 1;
      }
    }
  }

  .trump-hillary__trump {
    background-color: $color-republicans;
  }

  .trump-hillary__hillary {
    background-color: $color-democrats;
  }
}

.fili-test {
  position: absolute;
  bottom: -100%;
  left: 50%;
  margin-left: -170px;
  background-image: url(../images/testsprite.svg);
  width: 340px;
  height: 690px;
  transform-origin: center center;
  transform: scale(2);
}


@keyframes filiTest {
  from { background-position: 0 0; }
  to {
    background-position: inuit-rem(-2040px) 0;
  }
}

@keyframes filiTest2 {
  from { transform: scale(2); }
  to {
    transform: scale(.4);
  }
}
