$inuit-global-font-size: 18px;
$inuit-global-line-height: 26px;

$inuit-font-size-small: 16px;
$inuit-font-size-tiny: 12px;

$inuit-font-size-h1:  36px;
$inuit-font-size-h2:  64px;
$inuit-font-size-h3:  20px;

$inuit-font-size-h1-smaller:  28px;
$inuit-font-size-h2-smaller:  40px;
$inuit-font-size-h3-smaller:  18px;
