///* ========================================================================
//   #COLORS
//   ======================================================================== */
$color-democrats:                 #00A7FF;
$color-republicans:               #EF5C5C;
$color-split:                     #B26CC1;

$color-brand-primary:             $color-republicans;
$color-brand-primary-darker:      #d54949;

$color-background:                #0d4e71;
$color-background-darker:         #0a415e;
$color-background-fallback:       #ececec;

$color-link:                      #4a90e2;
$color-highlight:                 #FFEBBF;

$color-btn:                       $color-brand-primary;
$color-btn-hover:                 $color-brand-primary-darker;
$color-btn-disabled:              #e8e8e8;

$color-text-regular:              $color-background-darker;
$color-text-alternate:            $color-democrats;

$color-line:                      #eaeaea;
$color-line-darker:               $color-background-darker;
