.icon {
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon--world {
  background-image: url(../images/icon--world.svg);
}

.icon--facebook {
  background-image: url(../images/icon--facebook.svg);
  background-position: center center;
}

.icon--twitter {
  background-image: url(../images/icon--twitter.svg);
  background-position: center center;
}
