<div class="trump-hillary">
  <div class="trump-hillary__trump">

    <div class="trump-hillary__hotspot" hotspot="trump-hillary--hover" hotspot-parent="trump-hillary__trump">
      <div class="fili-test"></div>
      <button class="trump-hillary__button" ng-click="$ctrl.openModal('R')">{{ 'vote' | translate }} {{ 'shortname.trump' | translate }}</button>
    </div>

  </div>
  <div class="trump-hillary__hillary">

    <div class="trump-hillary__hotspot" hotspot="trump-hillary--hover" hotspot-parent="trump-hillary__hillary">
      <button class="trump-hillary__button" ng-click="$ctrl.openModal('D')">{{ 'vote' | translate }} {{ 'shortname.hillary' | translate }}</button>
    </div>

  </div>
</div>
