<section class="splash animate--slidedown" ng-hide="$ctrl.$rootScope.splashHidden">
  <p>
    {{'splash.hiwesee' | translate}}
    <span class="splash__country">
      <span class="splash__flag flag-icon flag-icon-{{ $ctrl.countryCode.toLowerCase() }}"></span>{{ 'country.' + $ctrl.countryCode | translate }}!
    </span>
  </p>
  <p>
    {{'splash.whowouldyou' | translate}}
  </p>

  <button ng-click="$ctrl.hideSplash()">{{'splash.start' | translate}}</button>

  <div class="splash__language">
    <div ng-hide="$ctrl.showLanguageSwitch">
      <a href ng-click="$ctrl.showLanguageSwitch=true;">Change language</a>
    </div>
    <div ng-show="$ctrl.showLanguageSwitch">
      <select ng-model="$ctrl.language" name="language" ng-change="$ctrl.changeLanguage()">
        <option ng-repeat="l in $ctrl.Languages" value="{{l}}"><a ng-href="/?lang={{l}}/#/info">{{'lang.' + l | translate}}</a></option>
      </select>
    </div>
  </div>

</section>
<div class="splash__bg" ng-hide="$ctrl.$rootScope.splashHidden"></div>
