<main class="page page--faq">
  <div class="page__wrapper faq-questions">

    <h1 class="faq-questions__title">We the People of the World,</h1>
    <p style="text-align:center">
      <strong>
        in Order to form a more perfect Society, established this website to give everyone a vote in the upcoming U.S. election.
      </strong>
    </p>

    <dl class="faq-questions__list">
      <dd>
        <p>
          On November 8th 2016, either Hillary Clinton or Donald J. Trump will be elected as the 45th president of the Unites States.
          The outcome of this domestic election will have a global effect. People from all over the world are watching the U.S.
          closely during this process. We follow all the scandals, debates, polls - and wished we’d had a vote.
        </p>
      </dd>
      <dt>Now you can!</dt>
      <dd>
        <p>
        On this website anyone from any country can cast a vote. Who would Argentine prefer? Or Belgium? Or China? And what about Zimbabwe?
          The results will be accumulated on our <a ui-sref="root.results">visual result map</a>, which is updated in real time - so check back often!
        </p>
      </dd>
      <dt>How it works</dt>
      <dd>
        <ul>
          <li>One vote is allowed per ip-address</li>
          <li>We care about your privacy and won't store your ip-address or any other personal identifier in our database. We do however store an anonymous version (hashed) of your ip-address to prevent multiple votes per ip</li>
          <li>We've tried our best to translate most of this site in as many languages as we could. There might still be some silly errors, sorry about that.</li>
        </ul>
      </dd>
      <dt>Are you serious?</dt>
      <dd>
        <p>
          No. This is just a pet-project by <a href="http://www.arthurvanthoog.nl" target="_blank">Arthur van 't Hoog</a> and <a href="https://galaxy.fili.nl" target="_blank">Filidor Wiese</a> from the Netherlands.
          We're really curious how the World would vote if they could. So please vote and share our project.
        </p>
      </dd>
    </dl>

  </div>
</main>
