<div class="page__wrapper">

  <h1 class="page--info__title">We the "other" People</h1>
  <p class="page--info__subtitle">
    <strong>
      care for the upcoming presidential election
    </strong>
  </p>

  <dl class="page--info__list">
    <dd>
      <p>
        On November 8th 2016, Hillary Clinton or Donald J. Trump will be elected as the 45th president of the Unites States.
        The outcome of this election will have a global effect. People from all over the world will be watching the U.S.
        closely during this process of debates, polls and scandals while wishing they also have a chance for their voices to be heard.
      </p>
    </dd>
    <dd>
      <p>
        On this website <b>anyone from any country</b> can cast a vote! Who does Argentina, for example, prefer? Or Belgium? Or China? And what about Zimbabwe?
        The results will be accumulated on our <a ui-sref="root.results">worldwide map</a>, which is updated in real time - so check back often!
      </p>
    </dd>
    <dt>How it works</dt>
    <dd>
      <ul>
        <li>One vote is allowed per ip-address</li>
        <li>We care about your privacy and won't store your ip-address or any other personal identifier in our database. We do however store an anonymous version (hashed) of your ip-address to prevent multiple votes per ip</li>
        <li>We've tried our best to translate most of this site in as many languages as we could. There might still be some silly errors, sorry about that.</li>
      </ul>
    </dd>
    <dt>Will you list the other candidates or add an 'other' option?</dt>
    <dd>
      <p>
        Well no, we've simplified. We think it's fair to say that the rest of the world will have to be dealing with either Donald or Hillary.
        Sorry <a href="http://www.jill2016.com/" target="_blank">Jill</a>, <a href="https://www.johnsonweld.com/" target="_blank">Gary</a> and <a href="http://castle2016.com/" target="_blank">Darrell</a>.
      </p>
    </dd>
    <dt>Is this serious?!</dt>
    <dd>
      <p>
        This is a seriously fun project by <a href="http://www.arthurvanthoog.nl" target="_blank">Arthur van 't Hoog</a> and <a href="https://galaxy.fili.nl" target="_blank">Filidor Wiese</a> from the Netherlands.
        We're really curious who the World would elect if they could. So please vote and share our project!
      </p>
      <p>
        <a href="mailto:hello@worldwide.vote">hello@worldwide.vote</a>
      </p>
    </dd>
  </dl>

</div>
