<div class="page__wrapper">

  <h1 class="page--info__title">We the -other- People</h1>
  <p class="page--info__subtitle">
    <strong>
      would like our voices to be heard in the upcoming U.S. election.
    </strong>
  </p>

  <dl class="page--info__list">
    <dd>
      <p>
        On November 8th 2016, Hillary Clinton or Donald J. Trump will be elected as the 45th president of the Unites States.
        The outcome of this election will have a global effect. People from all over the world will be watching the U.S.
        closely during this process of debates, polls and scandals.
      </p>
    </dd>
    <dd>
      <p>
        On this website anyone from any country can cast a vote. Who would Argentina prefer? Or Belgium? Or China? And what about Zimbabwe?
        The results will be accumulated on our <a ui-sref="root.results">worldwide results map</a>, which is updated in real time - so check back often!
      </p>
    </dd>
    <dt>How it works</dt>
    <dd>
      <ul>
        <li>One vote is allowed per ip-address</li>
        <li>We care about your privacy and won't store your ip-address or any other personal identifier in our database. We do however store an anonymous version (hashed) of your ip-address to prevent multiple votes per ip</li>
        <li>We've tried our best to translate most of this site in as many languages as we could. There might still be some silly errors, sorry about that.</li>
      </ul>
    </dd>
    <dt>Is this serious?!</dt>
    <dd>
      <p>
        This is a seriously fun project by <a href="http://www.arthurvanthoog.nl" target="_blank">Arthur van 't Hoog</a> and <a href="https://galaxy.fili.nl" target="_blank">Filidor Wiese</a> from the Netherlands.
        We're really curious how the World would vote if they could. So please vote and share our project.
      </p>
      <p>
        <a href="mailto:info@worldwide.vote">info@worldwide.vote</a>
      </p>
    </dd>
  </dl>

</div>
