<section class="ballot" ng-show="$ctrl.isVisible" ng-class="{'ballot--slide-left': $ctrl.yourVote === 'R', 'ballot--slide-right': $ctrl.yourVote === 'D'}">
  <a href class="ballot__close icon icon--close" ng-click="$ctrl.closeModal()"></a>

  <!-- Vote now -->
  <div class="ballot__container" ng-show="!$ctrl.hasVoted" ng-class="{'animate--fadeout': !$ctrl.hasVoted}">

    <form name="$ctrl.ballotForm" ng-submit="$ctrl.submitVote()">
      <p class="ballot__header">
        <span class="ballot__flag flag-icon flag-icon-{{ $ctrl.countryCode.toLowerCase() }}"></span>
        {{'ballot.onevotefromcountry' | translate:{country: ('country.' + $ctrl.countryCode | translate)} }}
      </p>

      <div class="ballot__content">
        <h2 class="ballot__title" ng-show="$ctrl.yourVote">{{$ctrl.candidate($ctrl.yourVote)}}</h2>
        <p>{{'ballot.aspresident' | translate}}</p>
        <button class="ballot__button ballot__button--vote" ng-disabled="$ctrl.votingInProgress">{{'ballot.vote' | translate}}</button>

        <div class="ballot__error" ng-if="$ctrl.apiError">
          <span ng-bind-html="'error.' + $ctrl.apiError | translate"></span>
        </div>
      </div>
    </form>

  </div>

  <!-- Thank you -->
  <div class="ballot__container animate--fadein" ng-show="$ctrl.hasVoted">
    <p class="ballot__subtitle" ng-show="$ctrl.votedFor">{{ 'ballot.thankyou.title' | translate }}</p>
    <p class="ballot__subtitle" ng-hide="$ctrl.votedFor">{{'ballot.youvotedfor' | translate }}</p>

    <div class="ballot__content">
      <h2 class="ballot__title">{{'ballot.thankyou.thankyou' | translate}}</h2>
      <p class="ballot__text ballot__text--pleaseshare" ng-bind-html="'ballot.thankyou.pleaseshare' | translate"></p>

      <div ng-show="$ctrl.votedFor">
        <button class="ballot__button ballot__button--facebook icon icon--facebook"
                socialshare
                socialshare-provider="facebook"
                socialshare-type="feed"
                socialshare-via="1788524538092788"
                socialshare-media="https://worldwide.vote/hillary-vs-trump/opengraph.png"
                socialshare-text="{{ 'share.action' | translate:{candidate: $ctrl.candidate($ctrl.votedFor)} }}"
                socialshare-caption="{{ 'share.headline' | translate }}"
                socialshare-url="{{ 'page.url' | translate }}"
                socialshare-popup-height="300"
                socialshare-popup-width="400"
                socialshare-trigger="click" >{{'ballot.thankyou.button.sharevote' | translate}}</button>

        <button class="ballot__button ballot__button--twitter icon icon--twitter"
                socialshare
                socialshare-provider="twitter"
                socialshare-hashtags="trump #hillary"
                socialshare-text="{{ 'share.action' | translate:{candidate: $ctrl.candidate($ctrl.votedFor)} }} {{ 'share.headline' | translate }}"
                socialshare-url="{{ 'page.url' | translate }}"
                socialshare-popup-height="300"
                socialshare-popup-width="400"
                socialshare-trigger="click">{{'ballot.thankyou.button.sharevote' | translate}}</button>
      </div>

      <div ng-hide="$ctrl.votedFor">
        <button class="ballot__button ballot__button--facebook icon icon--facebook"
           socialshare
           socialshare-provider="facebook"
           socialshare-type="sharer"
           socialshare-text="{{ 'share.headline' | translate }}"
           socialshare-url="{{ 'page.url' | translate }}"
           socialshare-popup-height="300"
           socialshare-popup-width="400"
           socialshare-trigger="click">{{'ballot.thankyou.button.share' | translate}}</button>

        <button class="ballot__button ballot__button--twitter icon icon--twitter"
           socialshare
           socialshare-provider="twitter"
           socialshare-hashtags="trump #hillary"
           socialshare-text="{{ 'share.headline' | translate }}"
           socialshare-url="{{ 'page.url' | translate }}"
           socialshare-popup-height="300"
           socialshare-popup-width="400"
           socialshare-trigger="click">{{'ballot.thankyou.button.share' | translate}}</button>
      </div>
    </div>

    <div class="ballot__footer"></div>

  </div>
</section>
