
%font--regular {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
}

%font-headings {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

%font--bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
