[general]
maxmind.userid = "115609"
maxmind.key = ""
hash.secret = ""
token.salt = ""
nonce.salt = ""

[production]
database.host = "localhost"
database.dbname = "hillary-vs-trump"
database.username = "hillary-vs-trump"
database.password = ""

[staging]
database.host = "hillary-vs-trump.fili.nl"
database.dbname = "hillary-vs-trump-test"
database.username = "hillary-vs-trump-test"
database.password = ""
