[general]
maxmind.userid = "USER_ID_FROM_MAXMIND"
maxmind.key = "USER_KEY_FROM_MAXMIND"
hash.secret = "INSERT_RANDOM_AND_LONG_STRING_HERE"
token.salt = "INSERT_RANDOM_AND_LONG_STRING_HERE"
nonce.salt = "INSERT_RANDOM_AND_LONG_STRING_HERE"
ip.salt = "INSERT_RANDOM_AND_LONG_STRING_HERE"

[production]
database.host = "localhost"
database.dbname = "hillary-vs-trump"
database.username = "hillary-vs-trump"
database.password = ""

[staging]
database.host = "mysql"
database.dbname = "hillary-vs-trump"
database.username = "root"
database.password = "1234"
