/* Fade in, Fade out */
.animate--fadein,
.animate--fadeout {
  transition:opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.animate--fadein.ng-hide-remove,
.animate--fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate--fadeout.ng-hide-add,
.animate--fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}


/* Splash slide down */
.animate--splash-down.ng-hide-add.ng-hide-add-active {
  display: block !important;
  animation: splashSlideDown .7s ease-in-out forwards;
}

.animate--splash-down.ng-hide-add {
  display: block !important;
}

@keyframes splashSlideDown {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  40% {
    transform: translate(-50%, -60%);
  }

  to {
    opacity: 0;
    transform: translate(-50%, 150%);
  }
}


/* Ballot slide left */
.animate--ballot-left {
  transform: translateX(0%);
}
.animate--ballot-left.ng-hide-add {
  display: block !important;
  animation: ballotSlideRight .4s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
.animate--ballot-left.ng-hide-remove.ng-hide-remove-active,
.animate--ballot-left.ng-hide-remove.ng-hide-add-active {
  display: block !important;
}
.animate--ballot-left.ng-hide-remove {
  display: block !important;
  animation: ballotSlideLeft .4s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}


/* Ballot slide right */
.animate--ballot-right {
  transform: translateX(100%);
}
.animate--ballot-right.ng-hide-add {
  display: block !important;
  animation: ballotSlideLeft .6s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
.animate--ballot-right.ng-hide-remove.ng-hide-remove-active,
.animate--ballot-right.ng-hide-remove.ng-hide-add-active {
  display: block !important;
}
.animate--ballot-right.ng-hide-remove {
  display: block !important;
  animation: ballotSlideRight .6s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}


/* Ballot slide up */
@media screen and (max-width: #{map-get($breakpoints, medium)}) {
  .animate--ballot-left,
  .animate--ballot-right {
    transform: translate(0, 0%);
  }
  .animate--ballot-left.ng-hide-add,
  .animate--ballot-right.ng-hide-add {
    display: block !important;
    animation: ballotSlideUp .4s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }
  .animate--ballot-left.ng-hide-remove.ng-hide-remove-active,
  .animate--ballot-left.ng-hide-remove.ng-hide-add-active,
  .animate--ballot-right.ng-hide-remove.ng-hide-remove-active,
  .animate--ballot-right.ng-hide-remove.ng-hide-add-active {
    display: block !important;
  }
  .animate--ballot-left.ng-hide-remove,
  .animate--ballot-right.ng-hide-remove {
    display: block !important;
    animation: ballotSlideDown .4s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }
}





@keyframes ballotSlideLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes ballotSlideRight {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
@keyframes ballotSlideUp {
  from {
    transform: translate(0, 0%);
  }

  to {
    transform: translate(0, 100%);
  }
}
@keyframes ballotSlideDown {
  from {
    transform: translate(0, 100%);
  }

  to {
    transform: translate(0, 0%);
  }
}


