<!DOCTYPE html>
<html dir="ltr" lang="en" ng-app="Vote">
<head>
  <meta charset="UTF-8"/>
  <meta name="fragment" content="!">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"/>
  <title ng-bind="'page.title' | translate">Worldwide.vote: Hillary vs Trump</title>
  <meta name="description" content="{{ 'page.description' | translate }}"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta http-equiv="imagetoolbar" content="no"/>
  <meta name="robots" content="index,follow"/>

  <!--
    Design: Arthur van 't Hoog - http://arthurvanthoog.nl
    Development: Filidor Wiese - https://galaxy.fili.nl
  -->

  <!-- Twitter card - https://dev.twitter.com/cards/types/summary-large-image -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@filidor.wiese">
  <meta name="twitter:title" content="{{ 'page.title' | translate }}">
  <meta name="twitter:description" content="{{ 'page.description' | translate }}">
  <meta name="twitter:image" content="">

  <!-- Facebook -->
  <meta property="og:locale" content="nl_NL" />
  <meta property="og:title" content="{{ 'page.title' | translate }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ 'page.url' | translate }}" />
  <meta property="og:site_name" content="Worldwide.vote" />
  <meta property="og:description" content="{{ 'page.description' | translate }}" />
  <meta property="og:image" content="" />

  <style>[ng-cloak], .ng-cloak, .translate-cloaked { display: none !important; }</style>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900i&subset=cyrillic,latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:700" rel="stylesheet">
</head>

<body>

<vote-app></vote-app>

<%=htmlWebpackPlugin.files.webpackManifest%>

<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>

</body>
</html>
