<!DOCTYPE html>
<html dir="ltr" lang="en" ng-app="Vote">
<head>
  <meta charset="UTF-8"/>
  <meta name="fragment" content="!">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"/>
  <title ng-bind="'page.title' | translate">Worldwide.vote: Hillary vs Trump</title>
  <meta name="description" content="{{ 'page.description' | translate }}"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta http-equiv="imagetoolbar" content="no"/>
  <meta name="robots" content="index,follow"/>

  <!--
    Design: Arthur van 't Hoog - http://arthurvanthoog.nl
    Development: Filidor Wiese - https://galaxy.fili.nl
  -->

  <!-- Twitter card - https://dev.twitter.com/cards/types/summary-large-image -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@filidor.wiese">
  <meta name="twitter:title" content="{{ 'page.title' | translate }}">
  <meta name="twitter:description" content="{{ 'page.description' | translate }}">
  <meta name="twitter:image" content="https://worldwide.vote/assets/images/vote_opengraph_image.png">

  <!-- Facebook -->
  <meta property="og:locale" content="nl_NL" />
  <meta property="og:title" content="{{ 'page.title' | translate }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ 'page.url' | translate }}" />
  <meta property="og:site_name" content="Worldwide.vote" />
  <meta property="og:description" content="{{ 'page.description' | translate }}" />
  <meta property="og:image" content="https://worldwide.vote/assets/images/vote_opengraph_image.png" />

  <style>[ng-cloak], .ng-cloak, .translate-cloaked { display: none !important; }</style>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900i&subset=cyrillic,latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:700" rel="stylesheet">

  <link rel="alternate" href="https://worldwide.vote/hillary-vs-trump/?lang=nl" hreflang="nl" />
  <link rel="alternate" href="https://worldwide.vote/hillary-vs-trump/?lang=fr" hreflang="fr" />
  <link rel="alternate" href="https://worldwide.vote/hillary-vs-trump/?lang=de" hreflang="de" />
  <link rel="alternate" href="https://worldwide.vote/hillary-vs-trump/?lang=es" hreflang="es" />
  <link rel="alternate" href="https://worldwide.vote/hillary-vs-trump/?lang=ar" hreflang="ar" />
  <link rel="alternate" href="https://worldwide.vote/hillary-vs-trump/?lang=ru" hreflang="ru" />
  <link rel="alternate" href="https://worldwide.vote/hillary-vs-trump/?lang=ja" hreflang="ja" />
  <link rel="alternate" href="https://worldwide.vote/hillary-vs-trump/?lang=zh-CN" hreflang="zh-CN" />
  <link rel="alternate" href="https://worldwide.vote/hillary-vs-trump/" hreflang="en" />

  <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  </script>
</head>

<body>

<vote-app></vote-app>

<%=htmlWebpackPlugin.files.webpackManifest%>

</body>
</html>
