<nav class="top-nav">
  <div class="top-nav__title">
    <h1 ng-bind-html="'header.title' | translate" add-class-on-wrap="top-nav__title--wrapped" ui-sref="root.index"></h1>
  </div>

  <ul class="top-nav__items">
    <li class="top-nav__item top-nav__item--results">
      <a href ui-sref="root.results">
        <span class="top-nav__world"></span>
        {{'header.results' | translate}}
      </a>
    </li>
    <li class="top-nav__item top-nav__item--days">
      <div class="top-nav__countdown">
        <div class="top-nav__countdown__days">
          <span class="top-nav__countdown__char1">{{$ctrl.daysLeft.toString()[0]}}</span><span class="top-nav__countdown__char2">{{$ctrl.daysLeft.toString()[1]}}</span>
        </div>
        <span class="top-nav__countdown__left" ng-show="$ctrl.daysLeft !== 1">
          {{'header.days-left' | translate}}
        </span>
        <span class="top-nav__countdown__left" ng-show="$ctrl.daysLeft === 1">
          {{'header.day-left' | translate}}
        </span>
      </div>
    </li>
    <li class="top-nav__item top-nav__item--info"><a href ui-sref="root.info">{{'header.info' | translate}}</a></li>
    <li class="top-nav__item top-nav__item--twitter">
      <a socialshare
         socialshare-provider="twitter"
         socialshare-hashtags="Election2016 #Trump #Hillary"
         socialshare-text="{{ 'share.headline' | translate }}"
         socialshare-url="{{ 'page.url' | translate }}"
         socialshare-popup-height="300"
         socialshare-popup-width="400"
         socialshare-trigger="click"
         ng-click="$ctrl.sendGAEvent('share-page', 'twitter')">
        <span class="icon icon--twitter"></span>
      </a>
    </li>
    <li class="top-nav__item top-nav__item--facebook">
      <a socialshare
         socialshare-provider="facebook"
         socialshare-type="sharer"
         socialshare-text="{{ 'share.headline' | translate }}"
         socialshare-url="{{ 'page.url' | translate }}"
         socialshare-popup-height="300"
         socialshare-popup-width="400"
         socialshare-trigger="click"
         ng-click="$ctrl.sendGAEvent('share-page', 'facebook')">
        <span class="icon icon--facebook"></span>
      </a>
    </li>
  </ul>
</nav>
